APP_NAME=go_starter
APP_PORT=8080
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=12345678
DB_NAME=book_club

ACCESS_TOKEN_SECRET=access_token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret
ACCESS_TOKEN_EXPIRY= 60
REFRESH_TOKEN_EXPIRY= 120
CONTEXT_KEY = auth